@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');



:root{
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #fff;
    width: 100%;
    height: 1100px;
}

.container-all {
    height: 45%;
}

main {
    width: 100%;
    height: 100%;
    margin-top: 100px;

}
.principal {
    display: block;
    width: 100%;
    height: 100%;
}
audio {
    color: #f9f9f9;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/mao-flores.png);
    background-size:contain ;
    background-repeat: no-repeat;
    
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.logo #titulo {
    font-family: 'Style Script', cursive;
    padding-left: 79px;
    letter-spacing: 2px;
    color: #1a7907e7;
    font-size: 26pt;
    
}
.logo #subt {
        font-family: 'Style Script', cursive;
        padding-left: 79px;
        font-size: 14pt;
}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    transform: translateX(87px);
}

.menu nav ul li{
    height: 100%;
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #1a7907e7;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #1a7907e7;
}

.menu .text-menu-selected{
    color: #1a7907e7;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

/* TEXTO DOS ARTIGOS */

.texto_artigo {
    width: 80%;
    text-align: justify;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tit-audio {
    width: 300px;
}

/*Buscador de conteudo*/

#ctn-icon-search{
    position: absolute;
    right: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    transform: translateX(71px);
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #1a7907e7;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}




/*Footer*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #fff;
    margin-top: 40px;
}

.padmin {
    position: absolute;
    top: 895px;
    background-color: transparent;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 150px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover{
    background: #DE4C34;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
        zoom: 80%;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

}



@media screen and (max-width: 1200px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .container-category {
        zoom: 73%;
    }

    .move-container-all{
        transform: translateX(300px);
    }
    .logo {
        font-size: 15pt;
    }
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #1a7907e7;
    }

    #icon-menu{
        display: flex;
        right: 3%;
       
    }
    #icon-menu-admin {
        visibility: hidden;
    }
   
    .container-aside{
        flex-wrap: wrap;
    }
    audio {
        width: 33%;
        height: 30px;
    }

}

@media screen and (max-width: 820px){
    .container-all {
        height: 23%;
    }
    #ctn-icon-search {
        right: 17%;
    }
    #ctn-icon-search i {
        transform: translateX(0px)
    }
}

@media screen and (max-width: 600px){
    .container-all {
        height: 14%;
    }
    .fa-search {
        right: 69%;
    }
   
   
}

@media screen and (max-width: 462px){
    .logo #titulo {
        padding-left: 59px;
        font-size: 19pt;
    }
    .header #input {
        padding: 12px 12px 12px 46px;
        zoom: 91%;
    }
    .fa-search {
        right: 67%;
    }
    #icon-menu {
       background: #fff;
    }

}